<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <center><h1>User Login</h1></center>
        <form action="/login" method="post">
            <input type="text" name="username" id="username" placeholder="Username"><br>
            <input type="password" name="password" id="password" placeholder="Password"><br>
            <p style="color: red;">{{errorMsg}}</p>
            <p style="color: blue;">{{msg}}</p>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        Not a member? <a href="/register">Regsiter</a>
    </div>
</body>
</html>