<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Register</title>
    <style>
        body {
            font-family: Times New Roman;
            font-weight: bold;
        }
        h1 {
            font-family: Times New Roman;
            opacity: 0.4;
        }
        input {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <center>
        <h1>Assignment 1</h1>
    </center>
    <div>
        <h3>Registration form</h3>
        <form method="POST" action="/">
            <label for="name">
                <input type="text" name="username" id="username" placeholder="Username">
            </label><br />
            <label for="email">
                <input type="email" name="email" id="email" placeholder="Email">
            </label><br />
            <label for="phone">
                <input type="text" name="phone" id="phone" placeholder="Phone">
            </label><br />
            <input type="submit" value="Register">
        </form>
    </div>
</body>

</html>